
<div class="offer-web__headerContainer">
  <div class="offer-web__header">
    <div class="offer-web__headerTitle">
      {{ carName }}
    </div>
    <div class="offer-web__headerDesc">
      <div class="offer-web__vinContainer">
       VIN: {{ VIN }}
      </div>
      <div class="offer-web__MileContainer">
       Mileage: {{ Mileage }} <a href="#" class="offer-web__mileEdit">Edit</a>
      </div>
      <div class="offer-web__sourceContainer">
        Source: {{source}}
      </div>
    </div>
  </div>
</div>
